@model Huta.Prop.DailyMessages

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Message
            </th>
            <th>
                Bottom Message
            </th>
            <th>
                Image Path
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Messages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { date = item.Date.ToString("yyyy-MM-dd") }) |
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
